body {
  @apply font-body;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animate-pulse-slow {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes float {
  0%,
  100% {
    transform: none;
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(8%);
    animation-timing-function: ease-in-out;
  }
}
.animate-float {
  animation: float 2s infinite;
}
